<main class="form-signin mt-5">
  <form id="registrationForm" #registrationForm="ngForm" (ngSubmit)="onSubmit()">
    <img class="mx-auto d-block mb-5" src="\assets\images\cropped-logo-flanders-company-1-270x270.png" alt=""
      width="150" height="150">
    <h1 class="h3 mb-3 fw-normal">Register</h1>

    <ngb-toast id="successToast" class="bg-success text-light" *ngIf="success" [autohide]="false">
      <i class="bi bi-exclamation-circle"></i><span>Registration succeed, you will receive a mail soon to confirm your
        registration</span>
    </ngb-toast>

    <ngb-toast id="errorToast" class="bg-danger text-light" *ngIf="error" [autohide]="false">
      <i class="bi bi-exclamation-circle"></i><span>{{error}}</span>
    </ngb-toast>

    <app-input-mail (outEmail)="onEmail($event)" [submitted]="submitted" [autofocus]="true"></app-input-mail>
    <app-input-password (outPassword)="onPassword($event)" (outConfirmPassword)="onConfirmPassword($event)"
      [submitted]="submitted"></app-input-password>
    <div ngbDropdown class="mb-3">
      <button id="dropdownProfilesButton" type="button" class="btn btn-outline-secondary form-control"
        ngbDropdownToggle>{{selectedProfile ? selectedProfile.name : "Select a profile"}}</button>
      <div id="dropdownProfilesElement" ngbDropdownMenu aria-labelledby="dropdownProfilesButton">
        <button type="button" *ngFor="let profile of profiles" ngbDropdownItem
          (click)="selectProfile(profile)">{{profile.name}}</button>
      </div>
      <div id="selectProfileError" *ngIf="submitted && !selectedProfile" class="alert alert-danger">Please select a
        profile</div>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
  </form>
</main>