<nav class="navbar navbar-expand-lg navbar-light">
    <div id="navbarHomeButton" class="btn btn-link navbar-brand" (click)="home()">
        <img src="\assets\images\cropped-logo-flanders-company-1-270x270.png"
            width="30" height="30" alt="Home">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation"
        (click)="isNavbarCollapsed = !isNavbarCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed" id="navbarToggler">
        <ul id="navbarButtonList" class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" *ngIf="homeDisplayed">
                <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item" *ngIf="myMissionsDisplayed">
                <a class="nav-link" routerLink="/hero/mymissions" routerLinkActive="active">My
                    missions</a>
            </li>
            <li class="nav-item" *ngIf="submitMissionDisplayed">
                <a class="nav-link" routerLink="/hero/submitmission"
                    routerLinkActive="active">Submit mission</a>
            </li>
            <li class="nav-item" *ngIf="usersDisplayed">
                <a class="nav-link" routerLink="/admin/users"
                    routerLinkActive="active">Administrate users</a>
            </li>
        </ul>
        <div id="dropdownProfiles" ngbDropdown class="mr-3" *ngIf="profiles.length > 1">
            <button id="dropdownProfilesButton" type="button" class="btn btn-outline-secondary form-control"
              ngbDropdownToggle>{{selectedProfile?.name}}</button>
            <div id="dropdownProfilesElement" ngbDropdownMenu aria-labelledby="dropdownProfilesButton">
              <button type="button" *ngFor="let profile of profiles" ngbDropdownItem
                (click)="selectProfile(profile)">{{profile.name}}</button>
            </div>
        </div>
        <form class="form-inline">
            <button id="navbarLogoutButton" type="button" class="btn btn-outline-danger" *ngIf="logoutDisplayed" (click)="logout()">Logout</button>
            <button id="navbarRegisterButton" type="button" class="btn btn-outline-dark" *ngIf="registerDisplayed" (click)="register()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                    <path fill-rule="evenodd"
                        d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z">
                    </path>
                </svg>
                Register
            </button>
            <button id="navbarLoginButton" type="button" class="btn btn-dark ml-2" *ngIf="logInDisplayed" (click)="login()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z">
                    </path>
                </svg>
                Log In
            </button>
        </form>
    </div>
</nav>