<main class="form-signin mt-5">
  <form id="loginForm" #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <img class="mx-auto d-block mb-5"
      src="\assets\images\cropped-logo-flanders-company-1-270x270.png" alt=""
      width="150" height="150">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <ngb-toast id="errorToast" class="bg-danger text-light" *ngIf="error" [autohide]="false">
      <i class="bi bi-exclamation-circle"></i><span>{{error}}</span>
    </ngb-toast>
    
    <app-input-mail (outEmail)="onEmail($event)" [submitted]="submitted" [autofocus]="true"></app-input-mail>
    <div class="mb-3">
      <label for="inputPassword" class="visually-hidden">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="password" #inputPassword="ngModel" required>
      <div id="inputPasswordError" *ngIf="inputPassword.invalid && (submitted || inputPassword.dirty || inputPassword.touched)" class="alert alert-danger">
        <div *ngIf="inputPassword.errors?.required">Password is required</div>
      </div>
    </div>
    <div class="mb-3"><p>You forgot your password ? <a routerLink="/resetPasswordRequest"
      routerLinkActive="active">Click here</a></p></div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  </form>
</main>