<div class="container">
    <h2 class="text-center mt-5">We did not found where you wanted to go</h2>
    <h2 class="text-center mt-5">But we do not think it was here</h2>
    <img class="img-fluid" src="\assets\images\NotFoundImage.jpg"
                width="1243" height="691" alt="In construction">
</div>