#home-company-cover{
    background-image: url("/assets/images/Flanders-Company-Background.jpg");
    background-repeat:no-repeat;
    background-position: center; 
    min-height: 800px;
}

#home-company-title-container{
    position: absolute;
    top: 20%;
}

.custom-bg{
    background-color:#050530;
}