<div class="container-fluid">
    <div id="home-company-cover">
        <div class="d-flex container-fluid justify-content-around" id="home-company-title-container">
            <h1 class=" h1 text-center text-sm-left">We are bad and</h1>
            <h1 class=" h1 text-center text-sm-left"></h1>
            <h1 class=" h1 text-center text-sm-left">we are doing it well</h1>
        </div>
    </div>
    <div class="custom-bg text-white">
        <div class="d-lg-flex justify-content-between p-4 ml-5 mr-5" data-aos="fade-up" data-aos-once="true"
            data-aos-duration="1500">
            <div class="d-flex flex-column align-items-center p-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="140" height="140" fill="currentColor"
                    class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    <path fill-rule="evenodd"
                        d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                    <title>Vilain catalog</title>
                </svg>

                <h2 class="h2 m-3">A large vilains catalog</h2>
                <p class="text-center">Choose the ennemy who fit you to highlight your power at the best.</p>
                <p class="m-3"><a class="btn btn-secondary" href="#">View our vilains &raquo;</a></p>
            </div>
            <div class="d-flex flex-column align-items-center p-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="140" height="140" fill="currentColor"
                    class="bi bi-calendar2-check" viewBox="0 0 16 16">
                    <path
                        d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                    <path
                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z" />
                    <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z" />
                    <title>Flexible booking</title>
                </svg>
                <h2 class="h2 m-3">Flexible booking</h2>
                <p class="text-center">Choose when and where you will be attack, never be surprise.</p>
                <p class="m-3"><a class="btn btn-secondary" href="#">Book a mission &raquo;</a></p>
            </div>
            <div class="d-flex flex-column align-items-center p-4">

                <svg xmlns="http://www.w3.org/2000/svg" width="140" height="140" fill="currentColor"
                    class="bi bi-trophy" viewBox="0 0 16 16">
                    <path
                        d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z" />
                    <title>Win guarantee</title>
                </svg>
                <h2 class="h2 m-3">Win guarantee</h2>
                <p class="text-center">Be sure to win, all our contract have a victory close. Avoid any humiliation</p>
                <p class="m-3"><a class="btn btn-secondary" href="#">View contracts &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="p-4 ml-5 mr-5">
        <div class="d-lg-flex justify-content-center">
            <img class="img-fluid" src="\assets\images\HR_presentation.jpg" width=250 height=438 alt="HR presentation"
                data-aos="fade-right" data-aos-once="true" data-aos-duration="1500" />
            <div class="p-4" data-aos="fade-left" data-aos-once="true" data-aos-duration="1500">
                <h2 class="mb-4">Join us</h2>
                <p>Join the biggest vilain company and become a reference in the evil world.</p>
                <p>Our HR will review your application and if your lucky you can suffer the mythics interview of our
                    head HR : Hippolyte Kurtzman.</p>
                <p>If you survive the hiring process you will be ready to face the most famous super heros of the world.
                </p>
                <p class="mt-5"><a class="btn btn-secondary" href="#">Apply for a vilain position &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="custom-bg text-white">
        <div class="p-4" data-aos="fade-up" data-aos-once="true" data-aos-duration="1500">
            <h1 class="pl-5">Our top vilains</h1>
            <ngb-carousel class="mt-5" *ngIf="images" [showNavigationIndicators]="false">
                <ng-template *ngFor="let vilain of vilains" ngbSlide>
                    <div class="d-lg-flex">
                        <div class="row align-items-center">
                            <img class="rounded mx-auto d-block" src="{{vilain.imagePath}}">
                        </div>
                        <div class="m-5">
                            <h3 class="h3 mt-4">{{vilain.name}}</h3>
                            <p class="mt-4">Power : {{vilain.powerDescription}}</p>
                            <p class="mt-4">{{vilain.description}}</p>
                            <p class="mt-4">"{{vilain.catchPhrase}}"</p>
                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>