<main class="form-resetPasswordRequest mt-5">
    <form id="ResetPasswordRequestForm" #ResetPasswordRequestForm="ngForm" (ngSubmit)="onSubmit()">
      <img class="mx-auto d-block mb-5"
        src="\assets\images\cropped-logo-flanders-company-1-270x270.png" alt=""
        width="150" height="150">
      <h1 class="h3 mb-3 fw-normal">Require a reset of your password</h1>
  
      <ngb-toast id="successToast" class="bg-success text-light" *ngIf="success" [autohide]="false">
        <i class="bi bi-exclamation-circle"></i><span>Reset password request submitted, you will receive a mail soon with instructions to reset your password</span>
      </ngb-toast>

      <ngb-toast id="errorToast" class="bg-danger text-light" *ngIf="error" [autohide]="false">
        <i class="bi bi-exclamation-circle"></i><span>{{error}}</span>
      </ngb-toast>
      
      <app-input-mail (outEmail)="onEmail($event)" [submitted]="submitted" [autofocus]="true"></app-input-mail>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Reset your password</button>
    </form>
  </main>