<div class="container">
    <h2 class="text-center mt-5">Our team of minions is working hard to construct the submit mission page</h2>
    <img class="img-fluid" src="\assets\images\minionsWorking.jpg"
                width="1243" height="691" alt="In construction">
</div>
