<app-navbar></app-navbar>
<router-outlet></router-outlet>
<footer class="footer font-small blue mt-5">
    <div class="footer text-center py-3">This is an example of application, it purpose is only to be a template and to pratice angular and nodeJs. You can find the source code on <a href="https://gitlab.com/flandersgroup/flanderscompany">gitlab</a>.
    </div>
</footer>