<div>
    <div class="mb-3">
        <label for="inputPassword" class="visually-hidden">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
          [(ngModel)]="password" #inputPassword="ngModel" minlength="{{passwordMinLength}}" maxlength="{{passwordMaxLength}}" required>
        <div id="inputPasswordError"
          *ngIf="inputPassword.invalid && (submitted || inputPassword.dirty || inputPassword.touched)"
          class="alert alert-danger">
          <div *ngIf="inputPassword.errors?.required">Password is required</div>
          <div *ngIf="inputPassword.errors?.minlength">Password must be longer than {{passwordMinLength}} characters</div>
          <div *ngIf="inputPassword.errors?.maxlength">Password must be shorter than {{passwordMaxLength}} characters</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="confirmInputPassword" class="visually-hidden">Confirm password</label>
        <input type="password" name="confirmPassword" id="confirmInputPassword" class="form-control"
          placeholder="Password" [(ngModel)]="confirmPassword" #confirmInputPassword="ngModel" pattern="{{password}}"
          required>
        <div id="confirmInputPasswordError"
          *ngIf="confirmInputPassword.invalid && (submitted || confirmInputPassword.dirty || confirmInputPassword.touched)"
          class="alert alert-danger">
          <div *ngIf="confirmInputPassword.errors?.required">You must confirm your password</div>
          <div *ngIf="confirmInputPassword.errors?.pattern">Confirm password must be identical to the password</div>
        </div>
      </div>
</div>
