<div class="mb-3">
    <label for="inputEmail" class="visually-hidden">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address"
        [(ngModel)]="email" required pattern="{{emailPattern}}" #inputEmail="ngModel">
    <div id="inputEmailError" *ngIf="inputEmail.invalid && (submitted || inputEmail.dirty || inputEmail.touched)"
        class="alert alert-danger">
        <div *ngIf="inputEmail.errors?.required">Email is required</div>
        <div *ngIf="inputEmail.errors?.pattern">Please enter a valid email</div>
    </div>
</div>