<div class="container">
    <div id="loaderContainer" *ngIf="!success && !error">
        <div class="d-flex justify-content-center mt-5">
            <h1 class="text-center">Loading</h1>
            <div class="spinner-border align-self-center ml-5" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div id="successContainer" *ngIf="success">
        <h1 class="text-center mt-5">Welcome to the flanders company</h1>
        <h3 class="text-center mt-5">Your registration is successfull, you can now <a class="nav-link" routerLink=""
                (click)="home()">go to your home page</a></h3>
    </div>
    <div id="errorContainer" *ngIf="error">
        <div *ngIf='alreadyRegisteredError'>
            <h1 class="text-center mt-5">You already registered to the website</h1>
            <h3 class="text-center mt-5">Please go to <a class="nav-link" routerLink="/login">the login page</a> to
                login to the website</h3>
        </div>
        <div *ngIf='!alreadyRegisteredError'>
            <h1 class="text-center mt-5">Sorry an unexpected error occured</h1>
            <h3 class="text-center mt-5">Next time it might work</h3>
        </div>
    </div>
</div>