<main class="form-resetPassword mt-5">
  <form id="resetPasswordForm" #registrationForm="ngForm" (ngSubmit)="onSubmit()">
    <img class="mx-auto d-block mb-5" src="\assets\images\cropped-logo-flanders-company-1-270x270.png" alt=""
      width="150" height="150">
    <h1 class="h3 mb-3 fw-normal">Change your password</h1>

    <ngb-toast id="successToast" class="bg-success text-light" *ngIf="success" [autohide]="false">
      <i class="bi bi-exclamation-circle"></i><span>Your password have been successfully changed, you can now go to <a
          href="/login">the login page</a> to connect</span>
    </ngb-toast>

    <ngb-toast id="errorToast" class="bg-danger text-light" *ngIf="error" [autohide]="false">
      <i class="bi bi-exclamation-circle"></i><span>{{error}}</span>
    </ngb-toast>

    <app-input-password (outPassword)="onPassword($event)" (outConfirmPassword)="onConfirmPassword($event)"
      [submitted]="submitted" [autofocus]="true"></app-input-password>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Change your password</button>
  </form>
</main>